# 完整版最小化部署企业版，bkdata v3，部署脚本1.8以上
10.0.5.224 gse,license,redis,consul,appo,mysql,bkdata(accessapi),bkdata(authapi),bkdata(databusapi),bkdata(datamanageapi),bkdata(dataqueryapi),bkdata(metaapi),beanstalk,rabbitmq,bkmonitor(influxdb-proxy),bkmonitor(monitor),bkmonitor(transfer)
10.0.5.142 gse,license,redis,consul,appo,mysql,bkdata(accessapi),bkdata(authapi),bkdata(databusapi),bkdata(datamanageapi),bkdata(dataqueryapi),bkdata(metaapi),paas,cmdb,job,beanstalk,bkmonitor(influxdb-proxy),bkmonitor(monitor),bkmonitor(transfer)
10.0.5.85 nginx,confd,zk(config),redis_cluster,es,kafka(config),etcd,fta,influxdb,mongodb,bkdata(databus),bkdata(metadata),bkdata(storekitapi),bkdata(collectorhub),bkdata(bksql),bkdata(datamanager),mysql01(datahub)
10.0.5.123 nginx,confd,zk(config),redis_cluster,es,kafka(config),etcd,fta,nfs,influxdb,mongodb,bkdata(databus),bkdata(metadata),bkdata(storekitapi),bkdata(collectorhub),bkdata(bksql),bkdata(datamanager)
10.0.5.195 usermgr,iam,paas,cmdb,job,zk(config),es,kafka(config),etcd,rabbitmq,appt,consul,redis_cluster,mongodb,mysql02(data)
